*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
}
.loading{
     position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}