.main{
    width: 100%;
    height: 100%;
   
}

.navbutton{
    padding: 7px;
    border-radius: 7px;
}
.profile{
    padding: 7px;
    border-radius: 7px;
    width: max-content;
}





.navbutton:hover,.profile:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.master
{
    display: flex;
    flex-direction: column;
    /* border: 10px solid yellow; */
    width: 100%;
    height: 90%;
    gap: 2%;
}
.filter{
 border: 2px solid gray;
 height: 8%;   
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 5px;
 gap: 2%;

}

.filter > select,.filter > input{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.filter > button{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
    
}

.details{
    /* border: 2px solid red; */
    height: 92%;
    overflow: auto;
}
.eachstudnet{
    display: flex;
    justify-content: space-around;
}
table,tr,th,td{
    border-bottom: 1px solid;
    
}

table{
    width: 100%;
}

tr,td{
    text-align: center;
}

.marksentry{
   display: flex;
   flex-direction: column;
   gap: 2%;
    width: 100%;
    height: 90%;

}
.selectedstudent{
    display: flex;
   border: 2px solid;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.selectedstudent > div {
    color: aliceblue;
    padding: 7px;
    background-color: gray;
    border-radius: 10px;
}
.wrongStudent,.addMarks{
    padding: 8px;
    width: 5%;
    position: relative;
    left: 90%;
    border: none;
    background: none;
    background-color: #5f3340;
    color:white;
    border-radius: 10px;
}
.wrongStudent:hover,.selectTableStudent:hover,.addMarks:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.addMarks{
    width: 6%;
    padding: 8px;
}
.marksDiv{
    width: 100%;
    height: 10%;
}

.facultyinput{
   border: 2px solid black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.facultyinput > select,.facultyinput > input{
    
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}
.facultyinput > button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(94, 51, 64);
    color: white;
}
.facultyinput > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #2c3e50;
  color: white;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.selectTableStudent {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
