.main{
    height: 100vh;
    width: 100vw;
}
.links{
    background: none;
    border: 1px solid black;
    padding: 1%;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: white;
    font-size: large;
}
.section{
    height: 90%;
    width: 100%;
    background-image: url('https://sritw.org/styles/images/inner/innerbaner.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}
.abs{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 237, 183, 0.5);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15%;
}
.heading{
    font-size: clamp(1.5rem, 5vw, 4rem);

    background:linear-gradient( purple, purple, black);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

}
.tag{
    font-size: clamp(1.5rem, 5vw, 4rem);

}
.tags{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titleDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: clamp(1.5rem, 5vw, 4rem);

      background:linear-gradient(black,black, purple, purple);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
}
